In [1]:
%matplotlib inline

In [2]:
%pwd

'/src/workspace/exercises'

In [3]:
import os
import random
import shutil

In [4]:
path_to_project="../data/statefarm"
train_dir="train"
val_dir="val"
test_dir="test"
driver2img_csv="driver_imgs_list.csv"

In [5]:
import pandas as pd

In [6]:
driver2img=pd.read_csv(os.path.join(path_to_project,driver2img_csv))

In [7]:
driver2img.head()

  subject classname            img
0    p002        c0  img_44733.jpg
1    p002        c0  img_72999.jpg
2    p002        c0  img_25094.jpg
3    p002        c0  img_69092.jpg
4    p002        c0  img_92629.jpg

In [8]:
by_driver=driver2img.groupby("subject")
unique_drivers=list(by_driver.groups.keys())
val_pct=0.2

In [9]:
print(unique_drivers)

['p064', 'p024', 'p061', 'p042', 'p047', 'p039', 'p021', 'p002', 'p050', 'p022', 'p075', 'p035', 'p049', 'p056', 'p015', 'p045', 'p052', 'p066', 'p026', 'p041', 'p012', 'p014', 'p051', 'p072', 'p081', 'p016']

In [10]:
random.shuffle(unique_drivers)

In [11]:
to_val_drivers = unique_drivers[:int(len(unique_drivers) * val_pct)]

In [12]:
val_filenames=driver2img[driver2img["subject"].isin(to_val_drivers)]

In [13]:
val_filenames.head()

    subject classname            img
725    p012        c0  img_10206.jpg
726    p012        c0  img_27079.jpg
727    p012        c0  img_50749.jpg
728    p012        c0  img_97089.jpg
729    p012        c0  img_37741.jpg

In [14]:
for idx, row in val_filenames.iterrows():
    train_filepath=os.path.join(path_to_project,train_dir,row["classname"],row["img"])
    val_filepath=os.path.join(path_to_project,val_dir,row["classname"],row["img"])
    shutil.move(train_filepath, val_filepath)